@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
* {
    margin: 0;
}

.logo {
    position: absolute;
    width: 144.15px;
    height: 159px;
    left: 66px;
    top: 0px;
    z-index: 1;
}

header {
    display: flex;
    align-items: center;
    height: 29px;
}

.retangulo {
    position: absolute;
    width: 616px;
    height: 937px;
    left: 0px;
    top: 0px;
    background: linear-gradient(174.44deg, rgba(11, 11, 11, 0.95) -0.36%, rgba(13, 13, 13, 0.855) 104.09%);
    background-blend-mode: darken;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-left: 39vw;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.025em;
    text-align: left;
    list-style: none;
}

.vetor1 {
    height: 10px;
    width: 16.36px;
    left: 832px;
    top: 54px;
    border-radius: 0px;
}

.vetor2 {
    height: 10px;
    width: 16.36px;
    left: 832px;
    top: 54px;
    border-radius: 0px;
}

.vetor3 {
    height: 10px;
    width: 16.36px;
    left: 832px;
    top: 54px;
    border-radius: 0px;
}

.letras {
    color: #FFFFFF;
    position: absolute;
    width: 44px;
    height: 30px;
    left: 58px;
    top: 892px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-family: 'Gilda Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.025em;
}

.description {
    font-family: 'Inter', sans-serif;
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
}

.description__title {
    letter-spacing: 0.34em;
    font-weight: 400;
    font-size: 24px;
}

.description__subtitle {
    letter-spacing: 34px;
    padding-top: 70px;
    font-weight: 700;
    font-size: 96px;
}

.description__text {
    font-weight: 400;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 91px;
}

.button {
    font-size: 24px;
    color: white;
    background-color: black;
    width: 382px;
    height: 101px;
    border-radius: 50px;
    place-self: center end;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}